// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

//Main colour
$primary-color: #264D59;
$secondary-color: #47988F;
$tertiary-color: #F9E181;
$quartery-color: #FBAD6B;
$quinary-color: #D46C51;


// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$primary-font: "Trebuchet MS", sans-serif;

@font-face {
    font-family: 'Trebuchet MS';
    src:url('/fonts/Trebuchet-MS/Trebuchet-MS.ttf');
    font-weight:400;
}
